# Telegram Bot Token (get from @BotFather); my.telegram.org
BOT_TOKEN=your_bot_token_here
TELEGRAM_API_ID=api_id
TELEGRAM_API_HASH=api_hash

# Max file size in MB for Telegram upload; Bot API limit is 50MBm otherwise use LOCAL API
MAX_FILE_SIZE_MB=1100

# Temporary download directory
DOWNLOAD_DIR=./downloads

ADMIN_IDS=UID,,,

#Firefox cookies ONLY Instagram
COOKIES_FILE=/app/cookies.txt

COOLDOWN_SECONDS=5
MAX_CONCURRENT_DOWNLOADS=3
